<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>listas de tareas</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>lista de tareas del dia de hoy</h1>
    <input type="text" v-model="newTareas">
    <button v-on:click="addTarea">add tarea</button>
    <!-- <label>{{tareas[2]}}</label> -->
    <ul>
      <!-- en tareas se guardan las tareas de cada iteracion
      y en item se guarda la iteracion del loop
       -->
       <li v-for="(tarea,item) in tareas" :key="item">

       {{item}} {{tarea.act}}
       <br>
       <!-- para poner el valor por defecto a un input podemos agregar v-model
        asi traemos el dato del arreglo original y enviamos el dato actualizado con keyup
       y enviamos el item osea el indice del arreglo a actualizar y la tarea modificada se la enviamos 
       al metodo editTarea

       le puse tarea.act porque es un arreglo de tipo objeto es decir objeto que va asi
      nombre:alex
      apellido: pe

      y el item es la iteracion que hizo -->
       <input type="text" v-model="tarea.act" v-on:keyup.enter="editTarea(item,tarea.act)">
      
      <!-- con el boton invocamos el metodo delTarea y le mandamos la iteracion del bucle con item -->
       <button @click="delTarea(item)">eliminar</button>
     </li>
    </ul>
  </div>


  <script >
    new Vue({
      el: "#app",
      data:{
        newTareas: '',
        //tuve que modificar el arreglo a un arreglo de objeto para senalar que seccion voy a modificar
        tareas:[{act:'correr'},{act:'dormir'},{act:'trabajar'}],
        
      },
      methods:{
        //agregar
        addTarea: function(){
          //console.log(this.newTareas);

        if (this.newTareas.trim() !=='') {
          //console.log(this.newTareas);
          //Si prefieres que las tareas nuevas se muestren al principio de la lista, puedes utilizar unshift() en lugar de push() en el método addTarea.

            //modifique igual el agregar tareas junto con el tipo de arreglo a arregloe de objeto
          this.tareas.push({act: this.newTareas});
          this.newTareas='';
          console.log(this.newTareas); }
        
        },

        //editar
        editTarea: function(item,tarea){
          //var listTareas= this.tareas;
          //var editTarea = item;
          //listTareas[editTarea]='hola';
          act1=this.tareas[item].act= tarea;
          console.clear();
           console.log(JSON.stringify(this.tareas, null, 2));
            

        },

        //eliminar
        //al meotodo se le hace llegar el valor de la iteracion y lo agregamos como parametro a la funcion
        delTarea: function(item){
          this.tareas.splice(item,1);
          
        }
      }
    })

  </script>
</body>
</html>
